<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
    </head>

    <body>
        <h1>Welcome to Social Todo App v2</h1>
        </br>
        <a href="/register/">Register Here</a>
        </br>
        </br>
        <h3>Log in here</h3>
        <form id="login_form" method="post" action="/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="submit" />
        </form>
    </body>
</html>